/*EXTERNAL CSS*/
h3{
color:blue;
background-color: aquamarine;

}
/*element selector*/
h4{
    color:palevioletred;
    background-color: antiquewhite;
}
/*class selector*/
.myclass{
    color:darkorange;
    background-color: aliceblue;
}
/*id selector*/
#myid{
    color:mediumpurple;
    background-color: rgb(0, 255, 106);
}
/*group selector*/
h5,p{
    color:maroon;
    background-color: aqua;
}
/*global css*/
*{
font-size:30px;
font-weight:500;
}









